*{
    padding: 0;
    margin: 0;
}
.main{
    width: 18.75rem;
    height: 100vh;
    margin: 0 auto;
}
.map{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 3.2rem;
}
.tool{
    border-top: 1px solid #ddd;
    height: 3.2rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
}
.amap-logo,
.amap-copyright{
    display: none !important;
}