*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style-type: none;
}
#amap_map {
    width:100vw; 
    position: absolute;
    top: 2.7rem;
    bottom: 2.5rem;
}  
.amap-logo,
.amap-copyright{
    display: none !important;
}
.amap-geolocation-con{
    z-index: 2000 !important;
}
.page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.van-dialog{
    border-radius: .3rem;
}
.van-tabbar-item__icon .van-icon{
    font-size: 1rem;
}
.van-tabbar-item__text{
    font-size: .5rem;
}
.index-search{
    position: relative;
    z-index: 2;
}